ul.main-menu
{
    list-style-type: none;
    margin: 0px 0px 10px 0px;
    padding: 0px;  
    font-family: Verdana;  
}
ul.main-menu > li
{
    margin: 0;
    display: inline;
    list-style-type: none;
    padding: 6px 4px 6px 6px;
    line-height: 28px;
    vertical-align: middle;
    cursor: default;
    outline: none;

}

ul.main-menu > li.active-menu
{

    background-color: #121213;

}

ul.main-menu ul li a
{
    color: #fff;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}
ul.main-menu li ul li a span
{
    font-size: 11px;
    color: #999;
    float:right;
    right: 10px;
    left: auto;
    position: absolute;
}

/* SUBMENU */
ul.main-menu > li  ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    border-width:1px;
    border-style: solid;
    border-color: #59606b;
    background-color: #121213;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
ul.main-menu li ul li
{
    display:list-item;
    margin: 0;
    line-height: 26px;
    padding-right: 40px;
    min-width: 100px;
    cursor: pointer;
    text-indent: 30px;
    white-space:nowrap;
}
ul.main-menu li:hover
{
    background-color: #2d3239; /*#fef7cb;*/
}
ul.main-menu li.active-menu:hover
{
    background-color: #121213;
}
ul.main-menu li ul li.disabled, ul.main-menu li ul li.disabled:hover, ul.main-menu li ul li.disabled a
{
    color: #ddd;
    cursor:default;
    background-color: #080809;
}

ul.main-menu li.separator  
{
    border-top: 1px solid #2d3239; 
    margin-top: 5px;
    margin-bottom: 5px;
}

.submenu 
{
    background-image: url(../img/menu-right-arrow.png);
    background-repeat: no-repeat;
    background-position: right center;
}